<h1> <%= @recipe.name %> </h1> <br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br>
<p>Recipe Found At:<br>
<a href="<%= @recipe.url %>"> <%= @recipe.url %> </a></p>
<p>Recipe Added By: <%= @creator.username %></p>
<hr>
<br>
<% if @user.id == @creator.id %>

  <a href="/recipes/<%= @recipe.id %>/edit">Edit or Delete Recipe</a>

<% end %>
<br>

<!-- QUESTION: Does it make sense for a user to own a recipe and be able to unbookmark it?  -->

<% if @user.all_recipes.include?(@recipe)%>

  <!-- User method to remove recipe from bookmarks -->

  <form action="/recipes/<%= @recipe.id %>/remove" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" name="remove_bookmark" value="Remove Bookmark">
  </form>

<% else %>

<!-- User method to add recipe to bookmarks -->

  <form action="/recipes/<%= @recipe.id %>/add" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" name="add_bookmark" value="Add Bookmark">
  </form>

<% end %>
