<h1>Welcome to your homepage, <%= @user.username %></h1>
<h3>Here are the recipes you have bookmarked:</h3>
<ul>

  <% @user.bookmarked_recipes.each do |recipe| %>
    <li><h3> <a href="/recipes/<%= recipe.id %>"> <%= recipe.name %> </a> </h3>  </li>
  <% end %>
</ul>

<h3>Here are the recipes you have created:</h3>

  <% @user.recipes.each do |recipe| %>
    <li><h3> <a href="/recipes/<%= recipe.id %>"> <%= recipe.name %> </a> </h3>  </li>
  <% end %>
</ul>

<br>

<a href="/recipes">Return to Recipe Bookmarker Homepage</a><br>
<a href="/recipes/new"> Add Your New Recipe </a>
